.main
  %ul
  - images.each_pair do |k,v|
    %li
      %img{ src: v[:large], id: 'large-' + k, data: { id: k } }

.thumbs
  %ul
  - images.each_pair do |k,v|
    %li
      %img{ src: v[:thumb], id: 'thumb-' + k, data: { id: k } }